@charset "EUC-KR";

.btn-group-sm>.btn, .btn-sm {
    padding: .3rem .45rem;
    font-size: .7rem;
    line-height: 1.5385;
    margin-top: 1px;
}

.card-group-control {
	background: #fff;
}

.card {
	border-radius: 0;
	margin-bottom: 0;
	border-bottom: 0;
	box-shadow: 0 0px 0px rgba(0,0,0,.05)
}

.card-header {
	padding: .9375rem 0.5rem;
	border-bottom: 0;
}

.card-header a {
	font-size: .85rem;
	letter-spacing: -.075em;
}

.card-header:not([class*=bg-]):not([class*=alpha-]) {
	padding-top: 0.8rem;
	padding-bottom: 0.8rem;
}

.card-group-control .card-title>a.collapsed:before {
    content: "\e9c9";
    padding-top: 2px;
    font-weight: 600;
}

.card-group-control .card-title>a:before {
	content: "\e9ca";
	 padding-top: 2px;
	font-weight: 600;
}

.card-group-control-left .card-title>a {
	padding-left: 1.2rem;
}

.subscribe-header {
	width: 115px;
	margin-left: 0.5rem !important;
	justify-content: flex-end;
}

.card-body {
	padding: 1rem 1.25rem;
	border-top: 1px solid rgba(0,0,0,.125);
}

.card-body .col-form-label {
	font-size: 13px;
	padding: 0 0 0.3rem 0;
}

.card-body .icon-plus3 {
	font-size: 10px;
	font-weight: bold;
}

.limit {
	font-size: 13px !important;
	padding-top: 2px;
	letter-spacing: -.05em;
}

/*******************************************************************************************************
 mylist 디자인
*******************************************************************************************************/
.mylist-header {
	width: 80px;
	margin-left: 1rem !important;
	justify-content: flex-end;
}

.result-empty {
	background: white;
	text-align: center;
	padding: 1.2rem 0;
	font-size: 15px;
	border-top: 1px solid #D5D5D5;
}

.mylist-result {
    width: 100%;
    background: #f3f3f3;
    border-top: 1px solid rgba(0,0,0,.125);
}

.mylist-result li {
	padding: 0.4rem 1rem;
}

.mylist-result .advice {
	border-top: 1px solid rgba(0,0,0,.125);
	font-weight: bold;
    color: #0089ed;
}

.text-right {
    padding: 5px 0 5px 0;
    text-align: right;
    line-height: 2em;
}
